<div class="bg-grad"><div class="clouds">
    <div class="cloud x1"></div>
</div>
<div class="bg-layer color-1"></div>
<div class="bg-layer color-2"></div>
<div class="bg-layer color-3 on"></div>
<div class="bg-layer color-4"></div></div>

<div id="content">

    <!-- Intro Header -->
    <section class="intro section-1 color-1">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">¿HACES EJERCICIO EN TU TIEMPO LIBRE?</h1>
                        <p class="intro-text">Es hora de transformar tu smarthphone en tu entrenador personal</p>
                        <!--<a href="#" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>-->
                        <div class="buttons-rombo">
                        <a scroll-to-item scroll-to="#khi" id="diamond"><p>KHI</p></a>
                        <a scroll-to-item scroll-to="#producto" id="diamond"><p>Producto</p></a>
                        <a scroll-to-item scroll-to="#equipo" id="diamond"><p>Equipo</p></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="khi" class="container content-section text-center section-2 color-2">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 bg-content">
                <h2>KHI: Kinetic Human Interface</h2>
                <p>Khi, es un producto que te permite registrar, controlar y organizar tu sesión de deporte, de esta forma puedes optimizar y mejorar tu rutina.</p>
                <p> Si eres un deportista aficionado, buscamos poder ayudarte a ser más eficiente y mejor en el deporte que practiques, mientras que si eres un "Personal Trainer", este dispositivo te entregará información para complementar tus conocimientos y evitar lesiones en quienes entrenas.</p>
                <p>Si te interesa KHI, puedes aportar contestando <a href="https://docs.google.com/forms/d/1LwKimpNi0BEFp1FMmQL6SG3d7XUaABacn-3gcVdUj9U/viewform">nuestra encuesta acá</a>!</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="producto" class="content-section text-center section-3 color-3">
        <div class="nice-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 bg-content desc">
                    <h2> Cómo funciona</h2>
                    <img src="img/body.png"></img>
                    <p>descripción</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="equipo" class="container content-section text-center section-4 color-4">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 ">
                <h2>Equipo </h2>
                <ul class="list-inline banner">
                    <li>
                        <img src="img/pietro.png" class="team"></img>
                        <p>Pietro Rivera</p>
                        <p>Co-fundador</P>
                    </li>
                    <li>
                        <img src="img/mariano.png" class="team"></img>
                        <p>Mariano Lucas</p>
                        <p>Co-fundador</P>
                    </li>

                </ul>
            </div>
        </div>
    </section>
</div>

<!-- /.container -->
